* {
  box-sizing: border-box;
  transition: opacity 500ms, transform 500ms;
  padding: 0;
  margin: 0;
}

.w-clearfix:before,
.w-clearfix:after {
  content: " ";
  display: table;
}

.w-clearfix:after {
  clear: both;
}

.w-clearfix:before,
.w-clearfix:after {
  content: " ";
  display: table;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
      font-family: 'Roboto',
}

.container{
  width:90%;
  margin: 0 auto
}

.wrap{
  max-width: 1200px;
  margin: auto;
}



@import 'components/hero.scss';
@import 'components/header.scss';
@import 'components/sponsors.scss';
@import 'components/content.scss';
@import 'components/review.scss';
@import 'components/start.scss';
@import 'components/footer.scss';

@media (max-width: 800px) {
  .reviews,
  .content,
  .hero {
    padding: 80px 10px;
  }
}