header {
  padding: 20px;
}

.logo {
  float: left;
  font-family: 'Roboto 900', sans-serif;
  color: white;
  padding: 10px;
  font-size: 26px;
  letter-spacing: 1px;
}

.navwrap {
  float: right;
  display: initial;
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto 900', sans-serif;
  ul {
    cursor: pointer;
    text-decoration: none;
    padding: 0;
    display: inline-block;
  }
  li {
    padding: 20px;
    display: inline-block;
  }
}

@media (max-width: 730px) {
  header {
    display: none;
  }
}