.start {
  background-color: #1C9DDF;
  color: #fff;
  height: auto;
  padding: 80px;
  text-align: center;
}

.startTitle {
  font-size: 40px;
  margin: 20px 0;
  opacity: 0.8;
}

.startCopy {
  font-size: 24px;
  opacity: 0.8;
}
.startBtn{
  background-color: white;
  color:#1C9DDF;
  padding:25px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 50px 0;
  display: inline-block
}
