section.content
  .wrap
    h1.contentHeader Know what is making the news about your company, before anyone does. Mention Pulse
    .contentMessageWrap.w-clearfix
      .contentPhone
        img(src="Images/Phone.JPG", alt="")
      .contentBoxes
        .box-item
          h3 Find out before anyone else.
          p Receive text or email alert as soon as an a change in activity on your brand or competitors
        .box-item
          h3 Find out before anyone else.
          p Receive text or email alert as soon as an a change in activity on your brand or competitors
        .box-item
          h3 Find out before anyone else.
          p Receive text or email alert as soon as an a change in activity on your brand or competitors