footer
  .footerBoxes
    h1 mention
    p Made with love in Paris & NYC
  .footerBoxes
    ul HELP CENTER
      li Acount
      li Billing
      li General Question
  .footerBoxes
    ul GET TO KNOW MENTION
      li About Us
      li Job Opening
      li Terms
      li Privacy
  .footerBoxes
    ul RESOURCES
      li Blog
      li Academy
      li Video Tutorials
      li Monitoring Grader
      li Mention API
  .footerBoxes
    ul CONTACT US
      li Europe: +33 1 76 36 06 97
      li US: +1 646 568 9834
      li support@mention.com
      li Sitemap