section.hero
  include _header.pug
  .heroMessage
    .heroMessageWrap
      h1.heroTitle Introducing Mention Pulse
      p.heroCopy Get alearts when there's a big change in conversations about your company or competitors
      .btn CHECK YOUR PULSE