section.reviews
  h1.reviewTitle What Our Customers Think
  p.reviewCopy Here's what real customers think about using Mention Pulse to montior their brand, competitors, and industry
  .container.w-clearfix
    .reviewBox
      .reviewItem
        .reviewName Starbucks Coffe
        .reviewUsername @Starbucks
        .reviewItemCopy Thanks to Mention Pulse, I can react faster to breaking stories about our brand.
        .reviewDate 25 Apr 2016
    .reviewBox
      .reviewItem
        .reviewName Starbucks Coffe
        .reviewUsername @Starbucks
        .reviewItemCopy Thanks to Mention Pulse, I can react faster to breaking stories about our brand.
        .reviewDate 25 Apr 2016
    .reviewBox
      .reviewItem
        .reviewName Starbucks Coffe
        .reviewUsername @Starbucks
        .reviewItemCopy Thanks to Mention Pulse, I can react faster to breaking stories about our brand.
        .reviewDate 25 Apr 2016
