section.sponsors  
  
  .sponsorWrap.w-clearfix
    .sponsorImage
      img(src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Logo.png", alt="")
    .sponsorImage
      img(src="https://creativedock.com/wp-content/uploads/2017/08/Microsoft-grey.png", alt="")
    .sponsorImage
      img(src="https://newsroom.spotify.com/media/mediakit/2018-03-19_22-28-45/Spotify_Logo_RGB_Black.png", alt="")
    .sponsorImage
      img(src="http://shaiedesigns.com/wp-content/uploads/2016/02/uber_2016_logo.png", alt="")